/*The import section below is used to get the font.*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&display=swap');



/*The :root selector matches the document's root element.*/
/*Can be reused later*/
/*rem is a unit type in css.*/
:root {
    --main-color: #443;
    --border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    --border: .2rem solid var(--main-color);
    --border-hover: .2rem dashed var(--main-color);
}




/* Selects all elements*/
/*transition allows you to change property values smoothly, over a given duration.*/
* {
    font-family: 'PT Sans', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2 linear; 
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}


/*The -webkit-text-stroke property specifies the width and color of strokes for text characters.*/
/*var() is used to reuse things in :root.*/
.heading {
    font-size: 9rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .05rem var(--main-color); 
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

/*transform property allows you to rotate, scale, move, skew, etc., elements.*/
/*The translate() method moves an element from its current position*/
.heading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--main-color);
    font-size: 3rem;
}

.btn {
    display: inline-block;
    padding: .9rem 1.5rem;
    border-radius: var(--border-radius);
    color: var(--main-color);
    background: none;
    border: var(--border);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}



.header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
}

.header .logo { 
    color: var(--main-color);
    font-size: 2.3rem;
}


.header .navbar a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--main-color);
}

.header .btn {
    margin-top: 0;
}

#menu-btn {
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}


.home {
    min-height: 100vh;
    padding-top: 12rem;
    background: url(../images/home.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}


/*The flex-wrap property specifies whether the flexible items should wrap or not.*/
/*The gap property defines the size of the gap between the rows and columns.*/
.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .image {
    flex: 1 1 42rem;
    padding-top: 10rem;
    text-align: center;
}

.home .row .image img {
    height: 35rem;
    animation: float 4s linear infinite;
}


/*The @keyframes rule specifies the animation code.*/
@keyframes float {
    0%, 100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-7rem);
    }
}

.home .row .content h3 {
    font-size: 6.5rem;
    color: var(--main-color);
    text-transform: uppercase;
}

.home .image-slider {
    text-align: center;
    padding: 3rem 0;
}

.home .image-slider img {
    height: 9rem;
    margin: 0 .5rem;
    cursor: pointer;
    margin-top: 5rem;
}

.home .image-slider img:hover {
    transform: translateY(-2rem);
}

.history .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.history .row .image {
    flex: 1 1 42rem;
}

.history .row .image img {
    width: 100%;
    animation: aboutImage 4s linear infinite;
}

@keyframes aboutImage {
    0%, 100% {
        transform: scale(.9);
    }
    50% {
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

.history .row .content {
    flex: 1 1 42rem;
}

.history .row .content .title {
    color: var(--main-color);
    font-size: 3rem;
    line-height: 1.8;
}

.history .row .content p {
    color: var(--main-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
}


.history .row .content .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
}


.history .row .content .icons-container .icons {
    flex: 1 1 15rem;
    padding: 1.5rem;
    text-align: center;
    border: var(--border);
    border-radius: var(--border-radius);
}

.history .row .content .icons-container .icons img {
    height: 5rem;
}


.history .row .content .icons-container .icons h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
    color: var(--main-color);
}

.menu {
    background: url(../images/coffee-menu.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.menu .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.menu .box-container .box {
    flex: 1 1 42rem;
    padding: 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 6rem;
}

.menu .box-container .box img {
    height: 8rem;
    margin-left: -6rem;
}

.menu .box-container .box .content h3 {
    font-size: 2.2rem;
    color: var(--main-color);
    line-height: 1.8;
}

.menu .box-container .box .content p {
    font-size: 1.6rem;
    color: var(--main-color);
    line-height: 1.8;
    padding: 1rem 0;
}


.menu .box-container .box span {
    font-size: 2rem;
    color: var(--main-color);
    line-height: 1.8;
}


/*The grid-template-columns property specifies the number (and the widths) of columns in a grid layout.*/
.location .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    gap: 1.5rem;
}

.location .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.location .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.location .box-container .box a i {
    padding-right: .5rem;
}

.location .box-container .box a:hover i {
    padding-right: 2rem;
}


.location .end {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    margin-top: 1rem;
    color: var(--main-color);
}

/*Highlight the menu item corresponding to the current web page.*/
nav a:hover,
nav a.active {
    text-decoration: underline var(--border-hover);
}























